extends layout

block content
    p What is the correct JavaScript syntax to change the content of the HTML element below?
    p #{`<p id="demo">This is a demonstration.</p>`}

     
    form.form-check(method='POST' action='/club/become-member')
        .mb-3
            input#a.form-check-input(type='radio',  name="memberQuestion" value="a" required)
            label.form-check-label(for='a') document.getElement("p").innerHTML = "Hello World!";
        .mb-3
            input#b.form-check-input(type='radio' name='memberQuestion' value="b")
            label.form-check-label(for='b') #demo.innerHTML = "Hello World!";
        .mb-3
            input#c.form-check-input(type='radio' name='memberQuestion' value="c")
            label.form-check-label(for='c') document.getElementByName("p").innerHTML = "Hello World!";
        .mb-3
            input#d.form-check-input(type='radio' name='memberQuestion' value="d")
            label.form-check-label(for='d') document.getElementById("demo").innerHTML = "Hello World!";




        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul
            for error in errors 
                li!= error.msg 
    if (inCorrect)
        ul
            li That is not a correct answer, please try again!
        